html{
  margin: 0;
}
body{
  margin: 0;
}
#main {
  /* background-color: #e9e9e9; */
  /* background-color: #c4c4c2; */
}

#title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem auto;
}

#img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image {
  width: 50%;
  height: 20%;
}

#img-caption{
    /* padding: 2rem auto; */
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

li{
  padding: 0.5rem;
}
a{
  
  text-decoration: none;
  padding: 2rem;
  
}
a:link{
  color: #0b61bd;
}
a:visited{
  color: #0b61bd
}
